/* Movie Button */
.movie-button {
    position: absolute;
    top: 128px;
    right: 70px;
    width: 168px;
    height: 37px;
    background: -webkit-linear-gradient(top, #ffc653 0%, #ffc14a 50%, #ffbc44 100%);
    background: -moz-linear-gradient(top, #ffc653 0%, #ffc14a 50%, #ffbc44 100%);
    border: 1px solid #ffc551;
    border-radius: 3px;
}

.movie-button:hover {
    box-shadow: 0 3px 0 #ffa605;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
}

.movie-button-link {
    color: rgba(255,255,255,0.9);
    font: 17px 'Oxygen', sans-serif;
    text-decoration: none;
    margin: 5px 0;
    padding-left: 7px;
    -border-right: 1px solid #d28600;
}

.movie-button-link span {
    color: #d28600;
    text-transform: uppercase;
    font: bold 10px Arial, sans-serif;
    position: absolute;
    top: 21px;
    left: 9px;
}

.movie-button .fa-chevron-right {
    position: absolute;
    top: 4px;
    right: 16px;
    padding: 7px 0 5px 13px;
    border-left: 1px solid #ffb138;
}