/* Movie Image */
.movie-image {
    float: left;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    height: 188px;
    margin-left: -7px;
    position: relative;
    background: -webkit-linear-gradient(top, #eee 0%, #f2f2f2 50%, #f6f6f6 100%);
    background: -moz-linear-gradient(top, #eee 0%, #f2f2f2 50%, #f6f6f6 100%);
    box-shadow: 0 23px 10px -22px rgba(0,0,0,0.5);
}

.movie-image-ad {
    /*display: none;*/
    position: absolute;
    z-index: 1;
    bottom: 12px;
    left: 5px;
}

/*.movie-image:hover .movie-image-ad {
    display: block;
}*/

.movie-image-ad-text {
    display: inline-block;
    border-radius: 2px;
    background-color: #000;
    opacity: 0.5;
    padding: 8px 48px 8px 8px;
}

.movie-image-ad .fa {
    color: rgba(255,255,255,0.2);;
    border-radius: 2px;
    background-color: #000;
    opacity: 0.5;
    padding: 10px 7px;
    font-size: 28px;
}

.movie-image-ad-link {
    text-decoration: none;
}

.movie-image-ad-title {
    font: 13px Arial, sans-serif;
    color: #fff;
    margin: 0;
}

.movie-image-ad-price {
    font: 13px Arial, sans-serif;
    color: #ffc14c;
    margin: 0;
}

.movie-image-ad-price span {
    color: #676767;
}