/* Movie Text */
.movie {
    text-align: right;
    margin-left: 316px;
    padding: 11px 0 15px 61px;
    border-bottom: 1px solid #f6f6f6;
}

.movie-name {
    font: 38px 'Oxygen', sans-serif;
    margin: 5px 0 0;
}

.movie-description {
    font: 14px 'Oxygen', sans-serif;
    margin: 3px 0 0;
}