.search-form {
    height: 50px;
    width: 50%;
    min-width: 550px;
    margin: 0 auto;
    padding: 5px 0 0 6px;
    background-color: #fc6;
    position: relative;
}

#search-area {
    height: 25px;
    width: 90%;
}

#find {
    height: 25px;
    width: 8%;
    padding: 0;
    margin-right: 7px;
}

#check {
    margin: 7px 0 0;
}

.check-wrapper label {
    position: absolute;
    top: 32px;
    left: 23px;
}

.search-form::after {
    content: '';
    margin: -50px -42px 0 0;
    border: 27.5px solid transparent;
    border-left: 14px solid #ffcc66;
    position: absolute;
    top: 50px;
    left: 100%;
}