/* Substrate */
.container-pic {
    height: 142px;
    position: relative;
}

.container-pic-hover {
    display: none;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.3);
    height: 142px;
    width: 295px;
}

.container-pic:hover .container-pic-hover {
    display: block;
}

.arrow, .folder, .plus{
    background: url('../../../i/nature_sprites.png') no-repeat;
}

.arrow{
    background-position: -1px 0;
    width: 7px;
    height: 8px;
    position: absolute;
    top: 9px;
    left: 9px;
}

.folder{
    background-position: -35.1px 0;
    width: 11px;
    height: 9px;
    position: absolute;
    top: 9px;
    left: 7px;
}

.plus{
    background-position: -11.982147216796875px 0;
    width: 19px;
    height: 19px;
    position: absolute;
    top: 13px;
    left: 13px;
}

.nature-link-wrap {
    display: inline-block;
}

.plus-wrap {
    display: inline-block;
    position: relative;
    top: 54px;
    left: 94px;
    border-radius: 50%;
    background-color: #ececec;
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 10px rgba(0,0,0,0.2);
}

.arrow-wrap {
    display: inline-block;
    position: relative;
    top: 44px;
    left: 82px;
    border-radius: 50%;
    background-color: #ececec;
    width: 25px;
    height: 25px;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.2);
}

.folder-wrap {
    display: inline-block;
    position: relative;
    top: 44px;
    left: 107px;
    border-radius: 50%;
    background-color: #ececec;
    width: 25px;
    height: 25px;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.2);
}

.plus-wrap:hover,
.folder-wrap:hover,
.arrow-wrap:hover {
    background-color: #ffbc44;
}