.triangles {
    position: absolute;
    top: 36px;
    left: -15px;
    width: 300px;
    padding: 10px 10px;
    border: 10px solid transparent;
    border-width: 4px 0;
    background: linear-gradient(to bottom right, transparent 50.5%, #fff 50.5%),
linear-gradient(to bottom left, transparent 50.5%, #fff 50.5%);
    background-repeat: repeat-x, repeat-x;
    background-position: 0 100%, 0 100%;
    background-size: 10px 10px, 10px 10px;
}