body {
  margin: 0 auto;
  width: 800px;
}

.margin {
  margin: 0;
}

.display-position {
  display: inline-block;
  position: absolute;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.width {
  width: 800px;
}

#header {

  img{
    .width;
  }

  p {
    .margin;
  }

}

#features {
  height: 315px;
  background-color: grey;
}

#gallery {
  height: 310px;
  background-color: darkolivegreen;
}

#video {

  .lato;
  color: #fff;
  display: inline-block;
  position: relative;

  img {
    .width;
  }

  a {
    img {
      width: 63px;
    }
  }

  #technology {
    font-size: 26px;
    font-weight: 300;
  }

  #action {
    font-weight: 700;
  }

  p {
    font-size: 10px;
    font-weight: 100;
  }

  .video_text {
    .display-position;
    top: 86px;
    left: 368.5px;
    right: 368.5px;
    bottom: 170px;

    #technology {
      .display-position;
      margin: 12px 0;
      width: 410px;
      left: -170px;
    }

    #content {
      .display-position;
      width: 390px;
      left: -150px;
      top: 88px;
      color: #e4ebee;
    }
  }

}

#testimonials {
  height: 206px;
  background-color: #f9f9f9;
  border-top: 1px solid #e7e7e7;
  .lato;

  > p {
    font-weight: 900;
    font-size: 19px;
    text-align: center;
  }

  img {
    width: 75px;
    padding-left: 263px;
    float: left;
  }

  .info {
    font-size: 7px;
    color: #4bcaff;
    font-weight: 700;
    width: 180px;
    padding: 10px 260px 0 359px;
    line-height: 1.5;
    word-spacing: 1px;

    p {
      text-align: left;

      #name {
        font-style: italic;
        padding-left: 147px;
      }

      #company {
        font-style: italic;
        padding-left: 117px;
      }

    }

  }


}

#download {
  height: 110px;
  background-color: #414042;

  p {
    .lato;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 14px 0 14px 0;
    .margin;
  }

  #button {
    padding: 0;
  }

  img {
    width: 110px;
  }

}

#contact {

  img {
    .width;
  }

}

#footer {

  height: 57px;
  background-color: #414042;

}