body {
    margin: 0;
    min-width: 1360px;
}

.nav {
    background-color: #1aa4ff;
    padding: 11px 15%;
    position: relative;
}

ul {
    margin: 0 auto;
    font-family: Impact, 'Arial Black', sans-serif;
    font-size: 19px;

}

ul li {
    list-style-type: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 11px 11px;
}

a:hover {
    background-color: #eee;
    color: #a0a0a0;
}

li ul {
    position: absolute;
    top: 45px;
    left: 0;
    display: none;
    font-family: sans-serif;
    font-size: 14px;
    padding: 11px 0;
    width: 100%;
    box-shadow: 0 3px 4px -2px #B7B5B5;
    background-color: #eee;
}

.first-li {
    padding-left: 17%;
}

li ul li a {
    background-color: #eee;
    color: #898aa9;
    padding-right: 4px;
}

li:hover ul {
    display: inline-block;
}