/* Nature Layout */
.nature-wrap {
    width: 932px;
    margin: 0 auto;
}

.nature-header {
    font: 18px 'Oxygen', sans-serif;
}

.container {
    min-width: 932px;
    white-space: nowrap;
}

.nature-left,
.nature-center,
.nature-right {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    color: rgba(0,0,0,0.7);
}

.nature-left {
    width: 32.4%;
}

.nature-center {
    margin: 0 1.4%;
    width: 32.4%;
}

.nature-right {
    width: 32.4%;
}

.nature-name {
    font: 14px 'Oxygen', sans-serif;
    margin: 8px 0 5px 5px;
    word-spacing: -1px
}

.nature-definition {
    font: 11px Arial, sans-serif;
    margin: 0 0 27px 2px;
}

.nature-description {
    font: 12px Arial, sans-serif;
    margin: 0 0 41px 2px;
    line-height: 1.5;
    text-align: justify;
}

.nature-image {
    height: 142px;
    padding: 2px;
    border: 1px solid rgba(0,0,0,0.1);
}