.page {
    background-color: #fafafa;
    min-width: 950px;
}

.page-wrap {
    max-width: 972px;
    margin: 22px auto;
    border-radius: 3px;
    position: relative;
}

/* Shadow */
.page-wrap:before,
.page-wrap:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 97%;
    max-width:300px;
    background: #777;
    box-shadow: 0 15px 12px #777;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.page-wrap:after {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

/* Layered Paper */
.page-wrap {
    background-color: #fefefe;
    box-shadow:
    0 0 1px rgba(0,0,0,0.4),/* The top layer shadow */
    0 3px 0 0 #fefefe, /* The second layer */
    0 3px 1px 0 rgba(0,0,0,0.4), /* The second layer shadow */
    0 6px 0 0 #fefefe, /* The third layer */
    0 6px 1px 0 rgba(0,0,0,0.4);
}
