.red {
    background-color: red;
    border: 1px solid red;
    border-radius: 8px;
    padding: 4px;
}

.green {
    background-color: green;
    border: 1px solid green;
    border-radius: 8px;
    padding: 4px;
}

.blue {
    background-color: blue;
    border: 1px solid blue;
    border-radius: 8px;
    padding: 4px;
}

span {
    color: white;
}

label[for='red'] {
    color: red;
    text-decoration: underline;
    padding-right: 30px;
}


label[for='green'] {
    color: green;
    text-decoration: underline;
    padding-right: 30px;
}


label[for='blue'] {
    color: blue;
    text-decoration: underline;
    padding-right: 30px;
}

input {
    display: none;
}

#red:checked ~ label[for='red'],
#green:checked ~ label[for='green'],
#blue:checked ~ label[for='blue'] {
    opacity: 0.5;
}

#red:checked ~ span.red {
    display: none;
}

#green:checked ~ span.green {
    display: none;
}

#blue:checked ~ span.blue {
    display: none;
}