a[href*='ya'] {
    color: #f70;
}

a[href*='google'] {
    color: #666;
}

ul li a[target='_blank']:after {
    content: '\21f1';
    text-decoration: none;
    display: inline-block;
    -webkit-transform-origin: 10px 17px;
    -moz-transform-origin: 10px 17px;
    -ms-transform-origin: 10px 17px;
    -o-transform-origin: 10px 17px;
    transform-origin: 10px 17px;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}