ul {
    margin: 0 auto;
}

li {
    display: inline-block;
    list-style-type: none;
    margin: 0 9px;
}

a {
    text-decoration: none;
    color: #a23cd0;
    font-size: 10px;
}

span {
    vertical-align: 1px;
}

.border {
    padding: 2px 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0;
}

li.border:hover,
li.border a:hover {
    background-color: #a13bcf;
    border-color: #a13bcf;
    color: #fff;
}

.ellipsis {
    vertical-align: sub;
}