@font-face {
    font-family: 'Futura Md BT';
    src: url(../fonts/FuturaBTBold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Futura Bk BT';
    src: url(../fonts/FuturaBTBook.ttf);
    font-weight: normal;
}

body {
    min-width: 1023px;
    margin: 0 auto;
}

/* Header */
.header-wrapper {
    width: 1023px;
    margin: 0 auto;
}

.header h1 {
    margin: 33px 112px 36px 0;
    display: inline-block;
    font: 39px 'Futura Bk BT', 'Trebuchet MS', Arial, sans-serif;
    font-weight: normal;
    color: #ee8129;
}

.header h1 span {
    text-transform: uppercase;
    font: 35px 'Futura Md BT', 'Trebuchet MS', Arial, sans-serif;
    font-weight: bold;
    color: #3070a8;
}

.header ul {
    display: inline-block;
}

.header ul li {
    display: inline-block;
    text-transform: uppercase;
}

.menu a {
    padding: 66px 16px 37px 19px;
    text-decoration: none;
    color: #adadad;
    font: 600 14px 'Open Sans', sans-serif;
}

.menu a:hover {
    color: #3070a8;
    border-bottom: 4px solid #3070a8;
}

/* Banner */
.banner {
    background: url('../i/banner.png') no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.banner-wrapper {
    width: 1023px;
    margin: 0 auto;
}

.banner h1 {
    width: 880px;
    padding: 135px 0 19px;
    margin: 0 0 0 65px;
    font: 48px 'Futura Md BT', 'Trebuchet MS', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.banner h1 span {
    text-transform: none;
    word-spacing: 15px;
    font: 32px 'Futura Bk BT', 'Trebuchet MS', Arial, sans-serif;
}

.banner h2 {
    width: 585px;
    margin: 0 0 47px 213px;
    font: italic 20px Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.banner input {
    padding: 17px 64px;
    border: 1px solid rgba(255,255,255,0.5);
    margin: 0 9px 107px 0;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    font: 600 16px 'Open Sans', sans-serif;
    cursor: pointer;

}

/* Portfolio */
.portfolio-wrapper {
    width: 1023px;
    margin: 0 auto;
}

.portfolio-header {
    padding-top: 62px;
    margin: 0 0 75px;
    text-transform: uppercase;
    text-align: center;
    color: #41525c;
    font: bold 30px 'Trebuchet MS', Arial, sans-serif;
}

.portfolio-block-wrapper {
    padding-bottom: 50px;
    white-space: nowrap;
    text-align: center;
}

.portfolio-block-left,
.portfolio-block-center,
.portfolio-block-right {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
}

.portfolio-block-left {
    width: 33.3%;
}

.portfolio-block-center {
    width: 33.3%;
}

.portfolio-block-right {
    width: 33.3%;
}

.portfolio-block-header {
    margin: 18px 0 16px;
    text-transform: uppercase;
    color: #3070a8;
    font: 30px 'Futura Bk BT', 'Trebuchet MS', Arial, sans-serif;
}

.portfolio-block-paragraph {
    color: #a7a7a7;
    font: 400 14px/1.8 'Open Sans', sans-serif;
    width: 325px;
    margin: 0;
    word-spacing: 3px
}

/* Services */
.services {
    background: url('../i/services-bg.png') no-repeat;
    background-size: cover;
}

.services-wrapper {
    width: 1023px;
    margin: 0 auto;
    padding: 0 0 57px 0;
}

.services-header {
    font: 26px/1.7 'Futura Bk BT', 'Trebuchet MS', Arial, sans-serif;
    color: #ee8129;
    text-transform: uppercase;
    margin: 0;
    padding: 79px 0 11px;
    width: 685px;
}

.services-subhead {
    font: 400 italic 19px 'Open Sans', sans-serif;
    color: rgba(255,255,255,0.9);
    margin: 0 0 33px;
    width: 685px;
}

.services ul {
    margin: 0;
    width:610px;
    list-style-type: none;
}

.services ul li {
    font: 400 14px/2.0 'Open Sans', sans-serif;
    word-spacing: 2px;
    margin-bottom: 20px;
    color: rgba(255,255,255,0.5);
}

.services ul li:hover {
    color: #3070a8;
}

.services ul li::before {
    content: '';
    float: left;
    margin: 10px 0 0 -20px;
    border: 4px solid rgba(255,255,255,0.5);
    border-radius: 10px;
}

.services ul li:hover:before {
    border-color: #3070a8;
}

/* Pricing */
.pricing {
    width: 848px;
    margin: 0 auto;
}

.pricing h1 {
    text-transform: uppercase;
    text-align: center;
    font: 30px 'Trebuchet MS', Arial, sans-serif;
    padding: 67px 0 58px 0;
    margin: 0;
}

.containers {
    display: flex;
    display: -webkit-flex;
    padding-bottom: 70px;
}

.blue-container {
    width: 290px;
    border: 1px solid #e8eaec;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.best-value {
    position: relative;
    width: 290px;
    border: 4px solid #ee8129;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 grey;
    z-index: 1;
}

.standard {
    margin-right: -5px;
}

.ultimate {
    margin-left: -5px;
}

.container-header {
    color: #fff;
}

.standard .container-header {
    background-color: #37c2d3;
    height: 63px;
    border-radius: 5px 5px 0 0;
}

.best-value .container-header {
    background-color: #ee8129;
    height: 73px;
}

.ultimate .container-header {
    background-color: #1cb79a;
    height: 63px;
    border-radius: 5px 5px 0 0;
}

.container-header h2 {
    font: bold 24px 'Futura Md BT', 'Trebuchet MS', Arial, sans-serif;
    padding: 23px 0 0 83px;
    margin: 0;
    text-transform: uppercase;
}

.price {
    text-align: center;
}

.price h2 {
    font: 24px 'Futura Bk BT', 'Trebuchet MS', Arial, sans-serif;
    margin-bottom: 12px;
    text-transform: uppercase;
}

div.price p {
    margin: 0 0 13px 0;
}

.currency {
    font: bold 20px 'Futura Md BT', 'Trebuchet MS', Arial, sans-serif;
    vertical-align: 44px;
}

.value {
    font: bold 72px 'Futura Md BT', 'Trebuchet MS', Arial, sans-serif;
}

.month {
    font: 18px 'Futura Bk BT', 'Trebuchet MS', Arial, sans-serif;
    vertical-align: -8px;
}

.price ul {
    margin: 0 15px 17px 15px;
    width: 260px;
    padding: 0;
}

.price li {
    list-style-type: none;
    padding: 11px 0 6px 0;
    font: bold 15px Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    color: #888c94;
    text-align: left;
    margin-bottom: 1px;
}

.price li:before {
    content: '';
    width: 14px;
    height: 15px;
    float: left;
    margin: 0 16px 0 32px;
    background: url('../i/check.png') 0 0;

}

.price li:nth-child(even) {
    background-color: #f5f5f6;
}

.price li:nth-child(odd) {
    background-color: #edf5fd;
}

.price input.orange {
    background-color: #ee8129;
    color: #fff;
    font: bold 14px 'Open Sans', sans-serif;
    width: 250px;
    padding: 10px 0;
    margin-bottom: 32px;
    border: 1px solid #ee8129;
    border-radius: 4px;
    box-shadow: 0 3px 0 0 #b3560b;
    text-transform: uppercase;
}

.price input.blue {
    background-color: #3371a6;
    color: #fff;
    font: bold 14px 'Open Sans', sans-serif;
    width: 250px;
    padding: 10px 0;
    border: 1px solid #3371a6;
    border-radius: 4px;
    box-shadow: 0 3px 0 0 #16436a;
    text-transform: uppercase;
}

.price input:hover {
    box-shadow: none;
    cursor: pointer;
}

/* Testimonials */
.testimonials {
    font-family: 'Open Sans', sans-serif;
    background: url('../i/testimonials-background.png') no-repeat;
    background-size: cover;
}

.testimonials-wrapper {
    width: 1023px;
    margin: 0 auto;
}

.testimonials h1 {
    font: 39px 'Futura Md BT', 'Trebuchet MS', Arial, sans-serif;
    text-transform: uppercase;
    color: #3170a8;
    padding: 47px 0 44px 0;
    margin: 0;
    text-align: center;
    letter-spacing: 1px;
}

.testimonials h1 span {
    color: #ee8129;
    font-family: 'Futura Bk BT', 'Trebuchet MS', Arial, sans-serif;
    font-weight: normal;
}

.customers {
    padding-bottom: 59px;
    overflow: hidden;
}

.customer-left,
.customer-right {
    float: left;
    height: 98px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

.customer-left {
    width: 48%;
    margin-right: 2%;
}

.customer-right {
    width: 48%;
    margin-left: 2%;
}

.customer-left img {
    position: absolute;
    top: 0;
    left: 3px;
}

.customer-right img {
    position: absolute;
    top: 0;
    left: 3px;
}

.comment {
    display: inline-block;
    background-color: #f7f7f7;
    width: 74%;
    vertical-align: top;
    margin-left: 127px;
}

.comment::before {
    content: '';
    float: left;
    margin: 35px 0 0 -26px;
    border-top: 13px solid #15191f;
    border-bottom: 13px solid #15191f;
    border-right: 13px solid #f7f7f7;
    border-left: 13px solid #15191f;
}

.testimonials-header {
    padding: 8px 15px 9px 15px;
}

.testimonials-header h2 {
    display: inline-block;
    font-size: 13px;
    font-style: italic;
    color: #3070a8;
    margin: 0;
}

.testimonials-header h2:nth-child(2) {
    float: right;
    margin: 4px 7px 0 0;
}

.name::before {
    content: '- ';
}

.comment p {
    font-size: 13px;
    color: #666;
    text-align: left;
    padding: 6px 0 18px;
    margin: 0 15px;
    border-top: 1px dotted #666;
    word-spacing: 2px;
}

/* Contacts */
.contacts {
    font: 600 14px 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    /* Another variant how to add contact-map.png to the block
    background: url('../i/contact-map.png') right no-repeat;
    */
}

.image-wrapper {
    position: absolute;
    min-width: 515px;
    width: 50%;
    height: 345px;
    padding: 0 0 0 50%;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
}

.contacts-wrapper {
    width: 1023px;
    margin: 0 auto;
    padding-bottom: 26px;
}

.contact-map {
    float: right;
}

.contacts-wrapper p {
    margin: 0;
}

.contacts-address {
    position: relative;
    padding: 40px 0 15px 64px;
    line-height: 2.2;
}

.contacts-address img {
    position: absolute;
    top: 42px;
    left: 7px;
}

.contacts-phone {
    position: relative;
    padding: 0 0 15px 63px;
}

.contacts-phone img {
    position: absolute;
    top: -2px;
    left: 6px;
}

.contacts-email {
    position: relative;
    padding: 0 0 38px 64px;
}

.contacts-email img {
    position: absolute;
    top: 6px;
    left: 4px;
}

.socials {
    margin: 0;
    padding: 0 0 0 4px;
}

.social {
    display: inline-block;
    padding-right: 17px;
}

/* Footer */
.footer {
    background-color: #3070a8;
    font: 400 14px 'Open Sans', sans-serif;
    color: #fff;
    text-align: center;
}

.footer-wrapper {
    width: 1023px;
    margin: 0 auto;
}

.footer p {
    margin: 0;
}

.footer-company {
    padding: 25px 0 11px;
}

.footer-company span {
    font-weight: 600;
}

.footer-design {
    padding-bottom: 30px;
}

.footer-design span {
    font-weight: 600;
    color: #000;
}