body {
  background: #362C44;
}
path {
  fill: #362C44;
  -webkit-transition: fill linear 0.5s;
  transition: fill linear 0.5s;
  position: relative;
  top: 10px;
}
#logo {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}
#logo.active path {
  fill: #fff;
}
