.care__triangle-color--1:before {
  content: '';
  float: left;
  margin: 0px -20px -10px -28px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 50px 0;
  border-color: transparent #60c5bb transparent transparent;
}

.care__triangle-color--2:before {
  content: '';
  float: left;
  margin: 0px -20px -10px -28px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 50px 0;
  border-color: transparent #f5c7be transparent transparent;
}

.care__triangle-color--3:before {
  content: '';
  float: left;
  margin: 0px -20px -10px -28px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 50px 0;
  border-color: transparent #9ccb75 transparent transparent;
}

.care__triangle-color--4:before {
  content: '';
  float: left;
  margin: 0px -20px -10px -28px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 50px 0;
  border-color: transparent #f7af4b transparent transparent;
}

.care__triangle-color--5:before {
  content: '';
  float: left;
  margin: 0px -20px -10px -28px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 50px 0;
  border-color: transparent #f0625f transparent transparent;
}

.care__triangle-color--6:before {
  content: '';
  float: left;
  margin: 0px -20px -10px -28px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 50px 0;
  border-color: transparent #b9102a transparent transparent;
}

.care__triangle-color--7:before {
  content: '';
  float: left;
  margin: 0px -20px -10px -28px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 50px 0;
  border-color: transparent #a8a8aa transparent transparent;
}

.care__triangle-color--8:before {
  content: '';
  float: left;
  margin: 0px -20px -10px -28px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 50px 0;
  border-color: transparent #609f45 transparent transparent;
}

.care__color--1 {
  background-color: #60c5bb;
}

.care__color--2 {
  background-color: #f5c7be;
}

.care__color--3 {
  background-color: #9ccb75;
}

.care__color--4 {
  background-color: #f7af4b;
}

.care__color--5 {
  background-color: #f0625f;
}

.care__color--6 {
  background-color: #b9102a;
}

.care__color--7 {
  background-color: #a8a8aa;
}

.care__color--8 {
  background-color: #609f45;
}