.header {
  font-family: $futura;
  font-size: 25px;
  margin-bottom: 6px;
  width: 100%;
  height: 350px;
  background: url("../images/header.jpg") bottom no-repeat;
}

.header__nature {
  padding: 120px 345px 40px 40px;
  width: 240px;
  color: #fff;
  text-align: center;
  float: left;
}

.header__nature-info {
  padding: 20px 15px;
  margin: 0;
  background-color: #8e973b;
}

.header__nature-care {
  color: #000;
}

.header__secret {
  position: relative;
  padding: 120px 0 0 0;
  color: #fff;
  width: 320px;
  float: left;
}

.header__secret-text {
  letter-spacing: 3px;
  margin: 0;
}

.header__secret-text:before {
  content: '';
  position: absolute;
  top: 110px;
  left: 0;
  width: 30px;
  height: 0px;
  border: 2px solid #8b970a;
}

.header__secret-list {
  list-style-type: none;
  margin-top: 17px;
  font-size: 23px;
  padding-left: 20px;
  line-height: 30px;
}

.header__secret-item:before {
  content: '—';
  font-size: 10px;
  float: left;
  margin: 5px 0 0 -15px;
}